@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

html, body { margin: 0; }
a { text-decoration: none; }

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }

body {
  background: #6ED0F6;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.hidden {
  display: none;
}
.wrapper, label, button span { transition: all .5s cubic-bezier(.6,0,.4,1); }
form {
  position: absolute;
  top: 3px;
  left: 10vw;
}
input[type=radio] { display: none; }

label {
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  opacity: .5;
  text-transform: uppercase;
}
label:hover {
  transition: all .3s cubic-bezier(.6,0,.4,1);
  opacity: 1;
}

label[for="first"] { margin-right: 20px; }
input[type=radio]:checked + label { opacity: 1; }

.wrapper {
  display: flex;
}
.field, .menu {
  overflow: hidden;
  height: 90vh;
  margin: 5vh 2.5vw;
  color:#DEDFDF;
}
.field {
  border-radius: 8px;
  background-color: #fff;
  width: 73%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.menu {
  width: 20%;
  height: 90vh;
  margin-left: 0;
}

button, .info, .timer {
  background: #079BCF;
  border-radius: 8px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
} 
.info {
  background-color: #079BCF;
  width: 100%;
  height: 50%;
}
.info p {
  margin: 0;
  padding: 7px 14px;
}
button {
  border: none;
  cursor: pointer;  
}
button, .timer {
  line-height: 72px;
  text-align: center;
  transform: translate3d(0,0,0);
}
button:hover {
  background: #007BA5;
}

.card {
  margin: 5px;
  width:150px; 
  height:64px; 
  background-color:bisque; 
  border-radius: 8px;
  color: black;

  position: relative; //УБРАТЬ
}
.word {
  margin: 0;
  line-height: 64px;
  text-align: center;
}
.ans {//СКРЫТЬ
  position: absolute;
  left: 0;
  top: 0;
}